<div class="container" >
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Address</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="apt in appt.apptArray">
                <td>{{apt.name}}</td>
                <td>{{apt.phone}}</td>
                <td>{{apt.date}}</td>
                <td>{{apt.time}}</td>
                <td>{{apt.address}}</td>
                <td>{{apt.description}}</td>
                
            </tr> 
            
        </tbody>
    </table>
</div>