<div class="container" >
<h2> Schedule a Consultation</h2>
 <form style="margin-top: 10px;">
 
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Enter Name</label>
    <input class="form-control" ng-model="appt.nameText" placeholder="Enter name">
  </fieldset>
  
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Enter Phone Number</label>
    <input class="form-control" ng-model="appt.phoneText" placeholder="Enter phone number">
  </fieldset>


<!--{{appt.Dates.dates}}-->
<fieldset class="form-group">
    <label >Select Date</label>
    <datepicker date-format="shortDate" date-disabled-dates="{{appt.Dates.dates}}"> <input ng-model="appt.dateText" type="text" class="form-control"/> </datepicker>
</fieldset>

  
  <fieldset class="form-group">
    <label for="exampleSelect1">Select Time</label>
    <select class="form-control" ng-model="appt.timeText">
      <option>1:00 pm </option>
      <option>2:00 pm</option>
      <option>3:00 pm</option>
      <option>4:00 pm</option>
      <option>5:00 pm</option>
    </select>
  </fieldset>
  
  <fieldset class="form-group">
    <label for="exampleTextarea">Enter Full Address</label>
    <textarea class="form-control" ng-model="appt.addressText" rows="2"></textarea>
  </fieldset>
  
  <fieldset class="form-group">
    <label for="exampleTextarea">Give a Brief Description</label>
    <textarea class="form-control" ng-model="appt.descriptionText" rows="3"></textarea>
  </fieldset>

  <button type="submit" class="btn btn-primary" ng-click="appt.addAppt()">Submit</button>
</form>
</div>
