<div class="container" >
<table class="table" style="height: 93vh; width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Small Tree</th>
            <th>Medium Tree</th>
            <th>Large Tree</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th scope="row" style="width: 15%;">Dead/Subterranean</th>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
        </tr>
        <tr>
            <th scope="row" style="width: 15%;">Medium</th>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
        </tr>
        <tr>
            <th scope="row" style="width: 15%;">Large</th>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
        </tr>
        <tr>
            <th scope="row" style="width: 15%;">Tree Removal to Stump</th>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
            <td><img src="https://placehold.it/100x100"></td>
        </tr>
    </tbody>
</table>
</div>